@media (max-width: 575.98px) {
  nav{
    width: 90%;
  } 
  nav ul {
    display: none;
  }
  .hamburger {
  display: block;
}
    .banner{
        width: 95%;
        flex-direction: column;
        text-align: left;
    }
   /* Banner  */
   .banner{
    width: 90%;
   }
.banner-content h1{
  font-size:3rem ;
}
   
.p1{
  top:10%;
  left:55%
}

.p2{
  top: 55%;
  right: 50%;
}

.dot-arrow{
  top: 60%;
  left: -1%;
}

.run-btn{
width: 90%;
}

    /* Habit */
    .habit-content h1 {
         font-size: 2rem;
    }
    .habit-image{
        flex-direction: column;
        gap: 2rem;
    }

/* Run part */

.run{
    flex-direction: column;
    gap: 3rem;
   
}
 .run-content{
    padding-left: 2rem;
 }

 /* Bmi part  */
.bmi-content{
  width: 100%;
  margin: 5rem auto;
}

.calculator {
    width: 100%;
 
  }

 /* training part */
 .img1 {
  grid-column: span 6;
}
 .img2 {
  grid-column: span 6;
}
 .img3, .img6 {
 display: none;
}
 .img4 {
  grid-column: span 5;
}
 .img5 {
  grid-column: span 7;
}

/* Bmi */

.calculator-part{
  flex-direction: column;
  gap: 2rem;
}
#select1 > option{
   background-color: red;
   width: 50%
}
.height{
  flex: 1 0 50px;
}


    /* Team part */
    .trainers{
display: grid;
grid-template-columns: repeat(1,1fr);
}

    /* Footer part */
  .footer-part{
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
  }
  .footer-content{
   width: 300px;
  }

 }