@media (max-width: 575.98px) { 
    .banner{
        width: 95%;
        flex-direction: column;
        text-align: left;
    }

    /* Footer part */
  .footer-part{
    flex-direction: column;
    align-items: flex-start;
    gap: 1.8rem;
  }

 }