@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Miama", sans-serif;
}
body {
  background: #000;
}
header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
}
nav {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: #e6533c;
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
}
ul {
  display: flex;
  padding: 0.4em 0;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  border-radius: 39px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-item {
  list-style-type: none;
}
.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 16px;
}
.nav-item :hover {
  border-radius: 46px;
  background: #e6533c;
  padding: 8px 16px;
}
/*-------Banner section start------ */
.banner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content h1 {
  color: #fff;
  font-family: Inter;
  font-size: 4em;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}
.shape {
  color: #fff;
  font-family: Miama;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
}
.banner-content p {
  width: 80%;
  color: rgba(255, 255, 255, 0.5);

  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 1.5em 0;
}
.btn-primary {
  border-radius: 42px;
  background: #e6533c;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.btn-second {
  border: 1px solid #fff;
  border-radius: 42px;
  margin-left: 0.8em;
  padding: 16px 40px;
  color: #fff;
  background: #000;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.bannerimage {
  position: relative;
}

.p1 {
  position: absolute;
  top: 25%;
  left: 70%;
  z-index: 1;
  width: 206px;
  height: 98px;
  display: block;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 1rem; /* 100% */
  letter-spacing: 1px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.p1 span {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 153.846% */
  letter-spacing: 1px;
}
.p2 {
  position: absolute;
  top: 72%;
  right: 75%;
  display: block;
  width: 200px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(10px);
  color: #fafaf9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
  padding-left: 2em;
}
.p2 span {
  color: var(--Text-2, rgba(239, 237, 232, 0.65));

  /* body-text */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}

.dot-arrow {
  width: 10%;
  height: auto;
  display: block;
  position: absolute;
  top: 77%;
  right: 115%;
}
/* -------Habits section-------- */
.habit {
  width: 80%;
  margin: 5em auto;
}
.habit-content {
  text-align: center;
  margin-bottom: 3em;
}
.habit-content h1 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.habit-content p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
  margin-bottom: 3em;
}
.habit-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  width: 231px;
  flex-direction: column;
  align-items: center;
}
.card img {
  border-radius: 50%;
}
.card h3 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  margin-top: 2em;
}
.card p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
  margin-top: 0.5em;
}
/* -----------Run Section ---------*/
.run {
  width: 80%;
  margin: 5em auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background: #222;
  padding: 2em;
}
.run-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.run-content p {
  width: 400px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 1rem;
}
.run-image {
  width: 350px;
}
.run-image img {
  width: 100%;
  height: auto;
  border-radius: 18px;
}
/* --------Training Section--------- */
.training {
  width: 80%;
  margin: 0 auto;
}
.training-content h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 1rem;
}
.training-content p {
  width: 50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 3rem;
}
.training-image img {
  width: 100%;
  height: 100%;

  position: relative;
  z-index: -1;
  display: block;
}
.training-image {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(12, 1fr);
}
.picgradient {
  background: linear-gradient(
    0deg,
    rgba(6, 255, 210, 0.5) 0%,
    rgba(6, 255, 210, 0.5) 100%
  );
}
.img1 {
  grid-column: span 3;
}
.gradient2 {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 0.3) 0%,
    rgba(255, 0, 0, 0.3) 100%
  );
}
.img2 {
  grid-column: span 6;
}
.gradient3 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.img3 {
  grid-column: span 3;
}
.gradient4 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.img4 {
  grid-column: span 5;
}
.gradient5 {
  background: linear-gradient(
    0deg,
    rgba(66, 255, 0, 0.3) 0%,
    rgba(66, 255, 0, 0.3) 100%
  );
}
.img5 {
  grid-column: span 3;
}
.gradient6 {
  background: linear-gradient(
    0deg,
    rgba(0, 71, 255, 0.3) 0%,
    rgba(0, 71, 255, 0.3) 100%
  );
}
.img6 {
  grid-column: span 4;
}

/* ---------- Bmi Part -------- */
.bmi{
  width: 80%;
  margin: 0 auto;
}
.bmi-content{
  width: 50%;
  margin: 5rem auto;
}
.bmi-content h1{
color: #FFF;
font-size: 48px;
font-weight: 900;
line-height: 120%; /* 57.6px */
}
.bmi-content p{
  color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
}
.calculator-part-section{
  background: #222;
}
.calculator-part{
  width: 80%;
  margin: 0 auto;
}